@import url('style.css');

main .wrapper{
    padding: 20px 100px;
}

main #candidates{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

main #candidates  .candidate-card img{
    width: 100%;
}

main #candidates .candidate-card{
    position: relative;
}

main #candidates .course{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    background: var(--clr-blue);
    color: var(--clr-white);
    border-bottom-left-radius: 20px;
}

main #candidates button{
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 1rem;
    width: 100%;
    background: var(--clr-blue);
    color: var(--clr-white);
    border: 0;
    cursor: pointer;
}

main .wrapper .candidate-card-details{
    display: flex;
    background: var(--clr-grey);
}

@media (max-width: 900px) {
    main .wrapper {
        padding: 20px;
    }
    main #candidates {
        grid-template-columns: repeat(2, 1fr);
        
    }
}

@media (max-width: 618px) {
    main #candidates {
        grid-template-columns: repeat(1, 1fr);
    }
}