@import url('style.css');

main {
    min-height: 90vh;
    display: flex;
    align-items: center;
}

main .wrapper {
    display: grid;
    padding: 0 100px;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    place-items: center;
}

main .wrapper div:nth-child(1) h1 {
    font-size: 2.2rem;
}

main .wrapper div:nth-child(1) .highlight-text {
    color: var(--clr-blue);
}

main .wrapper div:nth-child(1) .vote-now-btn {
    display: block;
    color: var(--clr-black);
    margin-top: 20px;
    padding: 10px 20px;
    width: fit-content;
    background: var(--clr-blue);
    color: var(--clr-white);
    border-radius: 50px;
}

main .wrapper div:nth-child(2) form {
    display: flex;
    align-items: center;
    width: 400px;
    background: var(--clr-blue);
    border-radius: 10px;
}

main .wrapper div:nth-child(2) form div {
    padding: 40px;
    color: var(--clr-white);
}

main .wrapper div:nth-child(2) form div h1 {
    border-bottom: 1px solid var(--clr-grey);
    margin-bottom: 20px;
    padding-bottom: 5px;
}

main .wrapper div:nth-child(2) form div input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    color: var(--clr-white);
    background: rgba(255, 255, 255, .5);
    border-radius: 50px;
    outline: none;
}

main .wrapper div:nth-child(2) form div input::placeholder {
    color: var(--clr-white);
}

main .wrapper div:nth-child(2) form div button {
    border: none;
    width: 100%;
    padding: 10px 20px;
    border-radius: 50px;
    margin: 5px 0;
    background: var(--clr-white);
    font-weight: 600;
    color: var(--clr-black);
}

main .wrapper div:nth-child(2) form div a {
    color: var(--clr-white);
    text-decoration: underline;
}

@media (max-width: 900px) {
    main .wrapper {
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
    }
}

@media (max-width: 618px) {
    main .wrapper div:nth-child(2) form {
        width: 100%;
    }
}