<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSG 2024</title>
    <link rel="stylesheet" href="../assets/css/candidates.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <script type="module" src="../assets/js/main.js"></script>
</head>
<body>
    
    <header>
        
        <div class="header-title">
            <button type="button" id="navbar-toggler"><i class="fa fa-bars-staggered"></i></button>
            <a href="index.html" class="logo">SSG : SCSIT - 2024</a>
        </div>

        <div>
            <nav>
                <ul>
                    <li class="nav-logo">
                        <a href="index.html" class="logo">SSG : SCSIT - 2024</a>
                        <button id="navbar-close"><i class="fa fa-chevron-left"></i></button>
                    </li>
                    <li >
                         <a href="index.html">Home</a>
                    </li> 
                    <li class="active">
                         <a href="candidates.html">Candidates</a>
                    </li>
                     <li>
                         <a href="partylist.html">Party-list</a>
                    </li>
                    <li>
                         <a href="about.html">About</a>  
                    </li>
                 </ul>
            </nav>
            
            <form method="post" >
                <input type="search" name="search" placeholder="Search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>

    </header>

    <main id="candidates-main">

     <div class="wrapper">
        <div  id="candidates"></div>
     </div>

    </main>


    <div id="candidate-modal">
        
    </div>

</body>
</html>