<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSG 2024 - GI EDIT NAKON INI</title>
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <script type="module" src="../assets/js/main.js"></script>
</head>
<body>
    
    <header>
        
        <div class="header-title">
            <button type="button" id="navbar-toggler"><i class="fa fa-bars-staggered"></i></button>
            <a href="index.html" class="logo">SSG : SCSIT - 2024</a>
        </div>

        <div>
            <nav>
                <ul>
                    <li class="nav-logo">
                        <a href="index.html" class="logo">SSG : SCSIT - 2024</a>
                        <button id="navbar-close"><i class="fa fa-chevron-left"></i></button>
                    </li>
                    <li class="active">
                         <a href="index.html">Home</a>
                    </li> 
                    <li>
                         <a href="candidates.html">Candidates</a>
                    </li>
                     <li>
                         <a href="partylist.html">Party-list</a>
                    </li>
                    <li>
                         <a href="about.html">About</a>  
                    </li>
                 </ul>
            </nav>
            
            <form method="post" >
                <input type="search" name="search" placeholder="Search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>

    </header>

    <main>

      <div class="wrapper">
        <div>
            <h3>VOTE NOW!</h3>
            <h1>Your vote <span class="highlight-text">shapes the future</span>, let it be a reflection of the values you hold dear</h1>
            <p>Vote not just for a candidate, but for a vision. Choose a leader who embodies integrity, empathy, and a commitment to serving their community.</p>

            <a href="" class="vote-now-btn">Vote Now</a>
        </div>

        <div>

            <form method="post">
                <div>
                    <h1>Login Account</h1>
                <label for="">School ID</label>
                <input type="text" name="user" placeholder="School ID">
                <button type="submit" name="login">Login Account</button>
                <p>Have any problem? <a href="">contact us</a></p>
                </div>
            </form>

        </div>
      </div>

    </main>

</body>
</html>
